.mainarea{
	margin-top: 80px !important;
}

.info_user{
	margin-top: 50% !important;
}
.newPost {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:20px;
	font-style:italic;
	padding:11px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #b23e35;
}
.newPost:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.newPost:active {
	position:relative;
	top:1px;
}

.postImage{
	height: 300px;
	width: 400px;
}

.css-btn-votes{
	background-color: #1fcbff !important;

}

.css-btn-votes-all{
	background-color: #1fcbff !important;
	border-color: white;
}

.css-title-post{
	text-align: center;
}

.css-text-title{
	font-size: 20px;
}
.votes-glyph-up{
	color: white !important;
	font-size: 15px;
}
.votes-glyph-down{
	color: white !important;
	font-size: 15px;
}
.css-p-title{
	color: white;
}
h1, h2, h3 ,h4 ,h5 , p {
	font-family: 'Dosis', sans-serif;
	font-weight: 600; 
}